<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <form action="/home" method="get">
            <input type="submit" name="FruitForBlogs" value="FruitForBlogs">
        </form>
        <br>
        {{ blog_name }} by {{ blog_author }}(Created: {{ update }}):
        <br>
        <p> Description: {{ description }} </p>
        {% for item in collection %}
            Entry: {{ item[1] }} 
            <br>
            Created At: {{ item[2] }}
            <br>
            <br>
        {% endfor %}
    </body>
</html>