<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <p style="color:red"> {{ error }} </p>
        <form action="/register" method="post">
            Username: <input type="text" name="register_username">
            <br>
            Password: <input type="password" name="register_password">
            <br>
            Confirm Password: <input type="password" name="confirm">
            <br>
            Blog Title: <input type = "text" name = "blog_name">
            <br>
            Blog Description:
            <br>
            <textarea name="description" cols="40" rows="5"></textarea>
            <br>
            <input type="submit" name="register" value="Register">
        </form>
    </body>
</html>
